<h1>Edit a gossip </h1>

<div class="form"> 
 <%= form_for @gossip do |f| %>
 <p>Modify the title <%= f.text_field :title %></p>
 <br>
 <p>Modify the gossip content <%= f.text_area :content, size: "20x5" %></p>
 <br>
 <p>Modify your gossiper pseudo <br> <%= f.text_field :anonymous_gossiper %></p>
 <br>
  <%= f.submit "Modify the gossip" %>
<%end%>

