<br>

<h2 class='jf'> You can find all gossips in this page ! </h1>

<br>

<% @gossip.each do |g|%> 

<div class="card" style="width: 32rem;">
  <div class="card-body">
    <h5 class="card-title">Gossip number <%= g.id %></h5>
    <p class="card-text"><%= g.title %> : <%= g.content 
    %> : <%= g.anonymous_gossiper %></p></p>
    <a href="/gossips/<%= g.id %>" class="btn btn-primary">View this Gossip</a>
    <a href="gossips/<%= g.id %>/edit" class="btn btn-primary">Edit this Gossip</a>  
  </div>
</div>
<% end %>

	
