<h1>Let's create your own Gossip</h1>

<div class="form"> 
 <%= form_for @gossip do |f| %>
 <p>Title<%= f.text_field :title %></p>
 <br>
 <p>Content<%= f.text_area :content, size: "20x5" %></p>
 <br>
 <p>Pseudo<%= f.text_field :anonymous_gossiper %></p>
 <br>
  <%= f.submit "Create a new gossip" %>
<%end%>

