<h1> This is the gossip !</h1>

<div class="card">
  <div class="card-body">
    <p>Gossip title : <%= @gossip.title %></p>
    
    <p>Gossip content : <%= @gossip.content %></p>
    
    <p>Gossiper name : <%= @gossip.anonymous_gossiper %></p>
    <p>Gossip date : <%= @gossip.created_at %></p>
    
  </div>
  <br>
  <h2> <%= @gossip.comments.count %> Comments</h2>
  	   <%= render @gossip.comments %>
  	   <h3>Add a Comment:</h3>
  	   <%= render 'comments/form' %>
</div>
<div class="delete"><%= link_to 'Click to delete', gossip_path(@gossip), method: "delete" %> 
</div>

 


